.partner {
  width: 100%;
  margin: auto;
  background-color: #111;
}

.partner_box {
  width: 1400px;
  padding: 90px 0px;
  margin: auto;
}

.program_desc h2 {
  width: max-content;
  color: #f2f2f2;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 40px;
}
.program_desc h2:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ebad2d;
  transition: width 0.3s;
  margin-top: 5px;
}
.program_desc h2:hover:after {
  width: 100%;
}

.program_desc h2:hover {
  color: #ebad2d;
  transition: all 0.3s ease;
}

.partner_img {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 16px;
  overflow: scroll;
  padding-top: 50px;
}

.partner_img img {
  border: 8px solid #454545;
}

@media screen and (max-width: 1500px) {
  .partner_box {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .program_desc h2 {
    font-size: 24px;
  }
}
